<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourav.ledgerproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LedgerProject">
        <activity android:name=".profile.addledger.ListOfAllClients" />
        <activity android:name=".profile.addledger.ShowLedgerActivity" />
        <activity android:name=".profile.debit.DebitListActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".profile.addledger.addvoucher.CreateVoucherActivity"
            android:label="@string/title_activity_create_voucher" />
        <activity
            android:name=".profile.addledger.CreateLedgerActivity"
            android:label="@string/title_activity_create_ledger" />
        <activity
            android:name=".profile.addclient.SelectAndAddClientActivity"
            android:label="@string/title_activity_select_and_add_client"
            android:theme="@style/Theme.LedgerProject.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>